@CHARSET "ISO-8859-1";
<style type="text/css"> 
  body  {
    background-image: url("images/bank.jpg");
    background-repeat:no-repeat;
        background-size: cover;
         background-image: transparent;
     width: 100%;
      height: 100%;
   
}
.errorMessage{
	color: #FF0000;
}

input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
	
	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}
	
	
.form-signin {
  max-width: 380px;
  padding:  30px 40px 20px;
 
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}
}

</style>